/* Custom text color for calendar items */

.rbc-event.rbc-selected,
.rbc-day-slot .rbc-selected.rbc-background-event,
.rbc-event,
.rbc-day-slot .rbc-background-event,
.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  background-color: #66b5a3 !important;
  color: #fff !important;
  outline: none;
}
.rbc-show-more {
  color: #66b5a3 !important;
}
.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
  border-color: #fff;
  outline: none;
}
.rbc-day-slot .rbc-event-label {
  display: none;
}
.rbc-toolbar button:hover {
  background-color: #66b5a33d;
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr > td,
.rbc-label {
  font-size: 14px;
}
.rbc-agenda-view table.rbc-agenda-table thead > tr > th,
.rbc-header {
  font-size: 15px;
}
.rbc-today {
  background-color: #66b5a333;
}
.rbc-label .rbc-time-header-gutter {
  width: 70.7344px !important;
  min-width: 70.7344px !important;
  max-width: 70.7344px !important;
}
.rbc-agenda-empty {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: #66b5a3;
}
.rbc-agenda-view {
  display: flex;
  justify-content: center;
  align-items: center;
}
