@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotateOnHover {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.full-screen-welcome {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* Adjust background color as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: #66b5a3;
  font-family: "Mulish", sans-serif;
  animation: fadeInOut 5s ease-in-out;
}

.full-screen-welcome h1 {
  font-size: 2rem;
  color: #66b5a3;
}
.full-screen-welcome p {
  font-size: 1rem;
  color: gray;
}
.close-icon {
  position: fixed !important; /* Change to fixed to ensure it stays in the corner */
  top: 20px;
  right: 20px;
  height: 2rem;
  width: 2rem;
  color: #66b5a3;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.close-icon:hover {
  animation: rotateOnHover 1s ease;
  color: #66b5a3; /* Change color on hover */
}
@keyframes walkanim {
  to {
    background-position: 100% 0;
  }
}
@keyframes stroll {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(500%);
  }
}

/* Target the Syncfusion license message and hide it */
div[style*="position: fixed"][style*="z-index: 999999999"] {
  display: none !important;
}
.hidden-input {
  display: none;
}
.textAreaInput {
  border: 0.0625rem solid #d2d6da;
  border-radius: 0.5rem;
  width: 100%;
  outline: none;
}
.errorTextArea {
  border: 0.0625rem solid red;
  border-radius: 0.5rem;
  width: 100%;
  outline: none;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-dot {
  animation: pulse 1s infinite;
}
